.sign-in-card .card-content {
  padding: 40px 60px;
}

.sign-in-card .card-actions {
  padding: 40px 60px;
}

.sign-in-card .text-field-label-container {
  padding: 0 0 15px;
}

.sign-in-card .text-field {
  min-width: 250px;
}

.sign-in-card .text-field-container {
  padding: 0 0 20px;
}

.sign-in-card .card-button {
  min-width: 250px;
  padding: 10px 0;
}
